<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django CRUD</title>
</head>
<body> 
    <ul>
        <li><a href="{% url 'home' %}">Inicio</a></li>
        <li><a href="{% url 'signup' %}">Registro</a></li>
        <li><a href="{% url 'Tasks' %}">Tareas</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'signout' %}">Cerrar Sesion</a></li>
        {% else %}
        <li><a href="{% url 'signin' %}">Iniciar Sesion</a></li>
        {% endif %}
    </ul>
    {% block content %}
    
    {% endblock %}